<h1>This is show page</h1>
<p>
  First Name:
  <%= @person.first_name %>
</p>

<p>
  Last Name:
  <%= @person.last_name %>
</p>

<%= render @person.phone_numbers %>

<h2>Add a phone number</h2>
<%= render 'phone_numbers/form' %>

<%= link_to 'Back', people_path %>
