<h1>Showing the details of - <%= @person.first_name %></h1>
<table border="3">
  <tr>
    <th>First Name:</th>
    <td><%= @person.first_name %></td>
  </tr>
  <tr>
    <th>Last Name:</th>
    <td><%= @person.last_name %></td>
  </tr>
  <tr>
    <th>Phone Numbers:</th>
    <td><%= render @person.phone_numbers %></td>
  </tr>
  <tr>
    <th>Emails:</th>
    <td><%= render @person.emails %></td>
  </tr>
</table>

<% if user_signed_in? %>
  <h2>Add a phone number</h2>
  <%= render 'phone_numbers/form' %>

  <h2>Add an email address</h2>
  <%= render 'emails/form' %>
<% end %>

<br>
<%= link_to 'Back', people_path %>
